/* common.css */
.board-list {
    width: 768px;
    margin: auto;
}

.board-detail {
    width: 768px;
    margin: auto;
    text-align: left;
}

.board-contents {
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
}

.common-buttons {
    padding: 8px;
    text-align: right;
}

/* css 초기화 */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

/* 기본 css */
.contents {
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 10px;
    line-height : 40px;
}

.group_row {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 0px;
    position: relative;
}

.header_1 {
    text-align: left;
    margin: 55px 15px 15px 15px;
    font-weight: bold;
}

.header_1 img {
    width: 50px;
}

.header_2 {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header_2 img {
    width: 27px;
}

.division_line {
    font-size: 45px;
    text-align: center;
    border-top: 1px solid rgb(200, 200, 200);
    margin: 0px;
    padding: 5px;
}

.box1 {
    /* border: 1px solid #ff5544; */
}

.box-2 {
    width: 48%;
    position: relative;
}
/* About 메뉴 */
.about_menu {
    /* border: 1px solid #846a6a; */
    height: 40px;
    width: 10%;
    line-height:40px;
    margin: 10px 5px 10px 5px;
    cursor: pointer;
}

.about_menu_clicked {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #42b983;
    color: #42b983;
}

.about_menu:hover {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #5bd69e;
}

.about_menu_bar {
    /* border: 1px solid #846a6a; */
    height: 40px;
    width: 2%;
    line-height:40px;
    margin: 10px 5px 10px 5px;
}

/* 카드 */
.card_item {
    vertical-align: top;
    border: 1px solid #d4d0d0;
    width: 90%;
    /* height: 440px; */
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.card_item:hover {
    box-shadow: 13px 13px 15px #f5eeee;
}

.card_item:hover img {
    transform: scale(1.3);
    transition: .3s;
}

.card_img_box {
    max-height: 72%;
    overflow: hidden;
}

.card_img_box img {
    width:100%;
    height:100%;
    object-fit:cover;
    transition: transform 0.3s ease-in-out;
}

.card_title {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    color:#555555;
    padding: 0px;
    margin: 10px;
}

.card_contents {
    text-align: left;
    font-size: 18px;
    margin: 10px;
    color:#7b7a7a;
}

.card_overlay {
    background-color: black;
    height: 91.7%;
    opacity: 0.3;
    z-index: 9;
    position: absolute;
}

/* Modal */
.modal_confirm {
    background-color: white;
    border: 1px solid #d4d0d0;
    border-radius: 10px;
    width: 243px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    overflow: hidden;
}

.modal_button {
    border: 1px solid #d4d0d0;
    text-align : center;
    width : 50%;
    height : 100%;
    margin: 0px;
    line-height:71px;
    /* padding: 33px 0px; */
    cursor: pointer;
}

.modal_button:hover {
    background-color: rgb(141, 82, 158);
    color: white;
}

.modal, .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.overlay {
    opacity: 0.5;
    background-color: black;
}

.modal-card {
    border-radius: 10px;
    position: relative;
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    min-height: 500px;
    z-index: 9999;
    opacity: 1;
}

li {
    margin: 0 0 0 20px;
}